# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# IDE / System
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs / Env
*.log
.env

# Streamlit local config
.streamlit/

# Build / packaging
build/
dist/
*.egg-info/

# OPTIONAL: Ignore big raw datasets (keep only your single data.csv)
data/raw/
